:root {
  --verde: #1e7e34;
  --azul: #0b2c4d;
  --dorado: #c9a227;
  --gris: #f4f6f9;
  --blanco: #ffffff;
}

/* GENERAL */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gris);
  margin: 0;
}

/* HEADER */
.header {
  background: linear-gradient(rgba(11,44,77,0.9), rgba(11,44,77,0.9)),
              url("../img/policia.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 20px;

  padding: 120px 20px 80px; /* ↑ arriba | lados | abajo */
}

.titulo {
  font-weight: 700;
  font-size: 2.5rem;
}

.subtitulo {
  color: var(--dorado);
}

.descripcion {
  font-size: 1rem;
  opacity: 0.9;
}

/* BARRA */
.barra-inscripciones {
  display: block;
  background: var(--dorado);
  color: var(--azul);
  text-align: center;
  padding: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.barra-inscripciones:hover {
  background: #e0b84c;
}

/* MENSAJE */
.mensaje {
  border: none;
  border-left: 5px solid var(--dorado);
  padding: 20px;
  background: white;
  border-radius: 10px;
}

/* SECCIONES */
.seccion {
  margin-top: 40px;
}

.seccion-titulo {
  font-weight: 600;
  color: var(--azul);
  margin-bottom: 15px;
  position: relative;
}

.seccion-titulo::after {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--dorado);
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* LISTAS */
ul, ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* DESCARGA */

.descarga {
  margin-bottom: 80px; /* separa del footer */
}

.descarga a {
  background: linear-gradient(45deg, var(--dorado), #e6c35c);
  color: var(--azul);
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.descarga a:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header {
    padding: 60px 15px;
  }

  .titulo {
    font-size: 1.8rem;
  }

  .subtitulo {
    font-size: 1.1rem;
  }

  .barra-inscripciones {
    font-size: 0.9rem;
    padding: 10px;
  }
}